@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "tailwindcss/tailwind.css";
/* :root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* globals.css */
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: white; /* Prevent horizontal scrolling */
}

body {
  font-family: Arial, sans-serif;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}

/* Add smooth scrolling to the whole page */
html {
  scroll-behavior: smooth;
}

/* Custom focus styles */
*:focus {
  outline: 2px solid #00ffff;
  outline-offset: 2px;
}

/* Disable outline for mouse users */
*:focus:not(:focus-visible) {
  outline: none;
}

/* Custom selection color */
::selection {
  background-color: #00ffff;
  color: white;
}

/* Additional global styles can be added here */
